@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap");

/* You can override the default Infima variables here. */
:root {
  /* Catppuccin Latte (light theme) */
  --ifm-color-primary: #8839ef;
  --ifm-color-primary-dark: #7b33d8;
  --ifm-color-primary-darker: #6e2ec1;
  --ifm-color-primary-darkest: #58249a;
  --ifm-color-primary-light: #9955f1;
  --ifm-color-primary-lighter: #a86bf3;
  --ifm-color-primary-lightest: #c59af7;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(17, 17, 27, 0.08);
  --ifm-font-family-monospace: "JetBrains Mono", monospace;

  --ifm-background-color: #dce0e8;
  --ifm-navbar-background-color: #e6e9ef;
}

[data-theme='dark'] {
  /* Catppuccin Mocha (dark theme) */
  --ifm-color-primary: #cba6f7;
  --ifm-color-primary-dark: #b88ef3;
  --ifm-color-primary-darker: #a875f0;
  --ifm-color-primary-darkest: #8b46eb;
  --ifm-color-primary-light: #d3b5f9;
  --ifm-color-primary-lighter: #dcc5fa;
  --ifm-color-primary-lightest: #e9ddfd;
  --docusaurus-highlighted-code-line-bg: rgba(203, 166, 247, 0.15);

  --ifm-background-color: #11111b;
  --ifm-navbar-background-color: #181825;
}

.footer {
  --ifm-footer-background-color: #1e1e2e;
}
